/* Colors Scheme 
00CFDE	 Teal Blue
1CC1F6	 Light Blue
b0a3ff	 Steel Purple-Blue
FF5F69	 Tomato red
D1F486	 Lime green
FFF985	 Yellow cream
28CA81	 Teal Green
34DD91	 Light teal green
*/

/***
 * FONTS
 ****************/
@import url(http://fonts.googleapis.com/css?family=Lato);

/***
 * General CSS
 ****************/
html { position: relative; min-height: 100%; }
h1, h2,	h3, h4, p { cursor: default; }
body { font-family:Lato; margin:0; color: #4a4235; width:100%; margin: 0 0 170px; /* bottom = footer height */}
a { color:#00CFDE; text-decoration: none; }
a.fx { padding-bottom: 3px; border-radius:4px; background: transparent;-moz-border-radius:4px; /* Old Firefox */ }
a.fx:hover {
		color: white;
		background: #00CFDE;
		-webkit-transition: all 0.1s ease-out;
			 -moz-transition:	all 0.1s ease-out;
			   -o-transition:	all 0.1s ease-out;
				 		transition:	all 0.1s ease-out;
}
#content { background-color: #FFF; }
.mainContent { margin: auto; padding: 20px; }
.bar { margin: 0 auto; width: 1000px; }
.bar.work { width: 897px; }
/***
 * Nav
 ****************/
nav { -webkit-font-smoothing: antialiased; padding: 3em 1.5em; top: 0; z-index: 999; background-color: #89E894; }
nav .bar { position: relative; height: 28px; }
/***
 * SVG LOGO
 ****************/
.logo { position: absolute; top: 20px; left: 5em; z-index:9999999; }
.logo:after {
	content: ""; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
}
.fbLogo:hover .circle { fill: #FFF; }
.fbLogo:hover #Letters rect { fill: #FF5F69; }
/* Menu links */
/* .logo h1 { position: absolute; margin:0; } */
nav ul { list-style:none; display: block; margin:0; padding:0; float:right; height: inherit; line-height:28px }
nav li { text-transform: uppercase; display:inline; margin-left: 40px; }
nav a { text-decoration:none; padding-bottom: 2px; }
nav a:link		{ color:#435D09; }	/* unvisited link 9FA2A8	*/
nav a:visited { color:#435D09; }	/* visited link	9FA2A8	 */
nav a:hover	 { color:#00CFDE; }	/* mouse over link				*/
nav a:active	{ color:#00CFDE; }	/* selected link					*/
nav a.active	{ border-bottom: solid 2px #00F084; }

#mail { 
	padding: 10px 10px; 
	margin: 32px 10px; 
	border: solid 1px white;
	-webkit-border-radius: 6px 6px 6px 6px;
		 -moz-border-radius: 6px 6px 6px 6px;
				 -border-radius: 6px 6px 6px 6px;
}
#mail:hover, #mail:focus { border: solid 1px #28CA81; color: #FFF; background-color: #28CA81; box-shadow: none; padding: 10px 10px; margin: 32px 10px; }
/***
 * Index
 ****************/
.header {
	text-align: center;
	padding: 6em 1.5em 1em 1.5em;
	height: 300px;
	margin-left: 0px;
	border-bottom: solid 1px lightgray;
}
.bold { color: #00CFDE; }
#outer { background-color: #f7fafa; text-align:center; }
#description h2 { margin: 0; padding: 3em 1.5em; }

/***
* WORK
*/
.thumb a { color: #515151; }
.thumb a:hover { color: #1CC1F6; }
.thumb {
	text-align: justify;
	background-color: whitesmoke;
	border: solid 1px lightgray;

	width: 400px; height: auto;
	margin-bottom: 40px;
	display: inline-block;
	-webkit-border-radius:8px;
		 -moz-border-radius:8px;
				 -border-radius:8px;
}
.thumb:nth-child(even) { margin-right: 45px; }
.thumb:nth-child(odd)	{ margin-left: 45px; }
.thumb:hover > .innerThumb { opacity: 1; z-index:2; }
.thumb:hover > .thumbImage { opacity: 0; z-index:99; }
.thumb:hover > .magnif		 { opacity: 0; }
.thumbImage {
	opacity: 100;
	width: 400px; height: 280px;
	position: absolute;
	z-index:0;
	-webkit-border-radius: 6px 6px 0 0;
		 -moz-border-radius: 6px 6px 0 0;
				 -border-radius: 6px 6px 0 0;
	-webkit-transition: 1s;
					transition: 1s;
}
.magnif {
	margin-left: 160px;
	margin-top: 125px;
	opacity: 0.5;
	position: absolute;
	z-index: 100;
}
.innerThumb {
	background-color: #70FF81;
	opacity: 0;
	padding: 20px;
	z-index:0;
	-webkit-border-radius: 6px 6px 0 0;
		 -moz-border-radius: 6px 6px 0 0;
				 -border-radius: 6px 6px 0 0;
	-webkit-transition: 1s;
					transition: 1s;
}
.inner { height:240px; }
.thumbInfo {
	background-color: white;
	height: 20px;
	margin: 0;
	padding: 20px;
	color: #515151;
	-webkit-border-radius: 0 0 6px 6px;
		 -moz-border-radius: 0 0 6px 6px;
				 -border-radius: 0 0 6px 6px;
}

/*** 
 * ABOUT
 */
.aboutText { text-align: justify; }
.skill { display: inline-block; }

progress, .progress-bar { width: 450px !important; }
progress:not(value) { }

progress[value] {
	appearance: none;
	border: none;
	width: 100%; height: 20px;
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	color: royalblue;
	position: relative;
	margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

progress[value]::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
		-moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
		 -moz-linear-gradient( left, #09c, #f44);
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius: 3px;
}

.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;
	display: block;
	text-indent: -9999px;
}

p[data-value] { position: relative; }
p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right: 0;
}

.full::-webkit-progress-value,
.full::-webkit-progress-value 
{
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-webkit-linear-gradient( left, #F44, #FF0, #9F0);
}
.full::-moz-progress-bar,
.full::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-moz-linear-gradient( left, #F44, #FF0, #9F0);
}

.threequarter::-webkit-progress-value,
.threequarter::-webkit-progress-value 
{
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-webkit-linear-gradient( left, #F44, #F93, #DF0);
}
.threequarter::-moz-progress-bar,
.threequarter::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-moz-linear-gradient( left, #F44, #F93, #DF0);
}

.half::-webkit-progress-value,
.half::-webkit-progress-value 
{
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-webkit-linear-gradient( left, #F44, #FF0);
}
.half::-moz-progress-bar,
.half::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-moz-linear-gradient( left, #F44, #FF0);
}

.quarter::-webkit-progress-value,
.quarter::-webkit-progress-value 
{
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-webkit-linear-gradient( left, #F44, #F93);
}
.quarter::-moz-progress-bar,
.quarter::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
	-moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
	-moz-linear-gradient( left, #F44, #F93);
}

/***
 * FOOTER
 */
footer { border-top: solid 1px lightgray; background-color:#FFF;

		position: absolute;
		left: 0;
		bottom: 0;
		height: 170px;
		width: 100%; }
.sup { height: 50px; line-height: 50px; }
.social { background-color: #89E894; padding: 1.5em 0; }
.social p { margin-top: 0; }
.fix {
		float: left;
		padding: 0;
		margin: 0;
		border: solid 2px white;
		background-color: #00CFDE;
		width: 32px; 
		height: 32px;
		margin-left: 16px;
		-webkit-border-radius: 6px;
			 -moz-border-radius: 6px;
					 -border-radius: 6px;
}
.first.fix { margin-left:0; }
.socicon {
		width: 32px; 
		height: 0px;
		background-color: #ff5f69;
		transition:height .3s ease; 
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
					 -border-radius: 3px;
}
.fix:hover > .socicon { height:32px; transition: height .3s ease; }

.ico {
		margin-left: 2px;
		margin-bottom: 10px;
		width: 28px; 
		height: 28px;
}

/** 
 * TRANSITION ELEMENTS
 */
.fix:hover > .socicon, .socicon, nav a, nav .menu-bar, .contentSlider .node:hover, .sliderButton
{
	-webkit-transition: .3s; 
		 -moz-transition: .3s;
			-ms-transition: .3s;
			 -o-transition: .3s;
					transition: .3s;
}
.contentSlider .node {
	-webkit-transition: .5s; 
		 -moz-transition: .5s;
			-ms-transition: .5s;
			 -o-transition: .5s;
					transition: .5s;
}
.box-right.shown, .box-left, .arrowRight,	.contactPull, .fbLogo *, .magnif
{
	-webkit-transition: .6s; 
		 -moz-transition: .6s;
			-ms-transition: .6s;
			 -o-transition: .6s;
					transition: .6s;
}

/**
 * RESPONSIVE
 */
@media all and (min-width: 1000px) { 
	#description { margin: 0 auto; max-width: 1000px; } 
	.skill:nth-child(even) { margin-right: 48px; }
	.skill:nth-child(odd) { margin-left: 48px; }
}

@media all and (max-width: 1050px) { 
	.aboutText { width: 910px !important; }
	#valid { display: none; }
	.social { margin: 0; }
	footer .bar, nav .bar { width: 600px; }
	.box-right table { width: 200px; }
	#org { display: none; }
	#phone { display: none; }
	.skill:nth-child(even) { margin-right: 5px; }
	.skill:nth-child(odd) { margin-left: 5px; }
}

@media all and (max-width: 950px) {
	.mainContent.bar { width: 500px; }
	.mainContent.bar.work { width: 405px; }
	progress, .progress-bar, .bar-percent, .aboutText { width: 500px !important; }
	.box-right table { table-layout: fixed; width: 500px; }
	.box-right textarea { width: 500px; }
	.contactPull { width: 10px; }
	.skill:nth-child(even) { margin-right: 0px; }
	.skill:nth-child(odd)  { margin-left:  0px; }
	.thumb:nth-child(even) { margin-right: 0px; }
	.thumb:nth-child(odd)  { margin-left:  0px; }
} 

@media only screen and (max-width: 768px) {
	#mail { 
		color: #FFF;
		background-color: #00F084;
		text-align: center; 
		padding: 10px 10px; 
		margin: 0px 0px; 
		border: none;
		-webkit-border-radius: 0px;
			 -moz-border-radius: 0px;
					 -border-radius: 0px;
	}
	#mail:hover, #mail:focus { border: none; color: #FFF; background-color: #00F084; box-shadow: none; padding: 10px 10px; margin: 0px 0px; }
}

@media all and (max-width: 650px) { 
	.mainContent.bar { width: 400px; }
	progress, .progress-bar, .bar-percent, .aboutText { width: 400px !important; }
	h1 { display: inline-block; margin-left: 0; }
	footer .bar { width: 200px; margin: 0 auto; }
	nav .bar { width: 100%; }
	.copyright { display: none; }
	.logo { left: 1em !important; } 
	.bold { width: 100%; }
	.thumb { display: inline-block; margin-left: 0; }
	.mainContent {	margin: auto; padding: 20px; }
}

@media all and (max-width: 480px) { 
	.mainContent { max-width: 480px !important; }
	progress, .progress-bar, .bar-percent, .aboutText { width: 300px !important; }
	.mainContent.bar, .mainContent.bar.work { width: 300px; }
	.thumb { width: 300px; font-size: 14px; margin-right: 0px; } 
	.thumbImage { width: 300px; }
	.magnif { margin-left: 119px; }
}